<div class="container"> 
	<div class="row"> 
  	<div class="col-md-6">
			<h1>We have <%= pluralize(@users.size, 'User') %></h1>
			<ul>
				<% @users.each do |user| %>
				<li>
					<%= link_to user.name, user %>
				</li>
				<% end %>
			</ul>
		</div>

  	<div class="col-md-6">
  		<h1></h1>
			<p><%= link_to "Admin Users", filtered_users_path(:admin), class: "btn btn-default btn-sm"  %></p>
			<p><%= link_to "Non-admin Users", filtered_users_path(:non_admin), class: "btn btn-default btn-sm"  %></p>
			<p><%= link_to "Add New User", new_user_path, class: "btn btn-primary btn-sm"  %></p>

		</div>
	</div>
</div>

