<div class="container" %>
<hr>
  <footer>
    <ul class="nav nav-pills nav-justified">
      <li role="presentation"><%= link_to "Blog", monologue_path%></li>
      <li role="presentation"><%= link_to "Recipes", recipes_path%></li>
      <li role="presentation"><%= link_to "Products", products_path%></li>
      <li role="presentation"><%= link_to "Animal Advocacy", advocacy_path%></li>
    </ul>
    <p class="copyright">
      Copyright &copy; 2014
      <%= link_to 'Kacy Hulme','https://github.com/kacyhulme' %>
    </p>
  </footer>
</div>