<h3>If you'd like to donate, try these INCREDIBLE organizations</h3>

<div><%= link_to 'Humane Society', "http://www.humanesociety.org/" %></div>
<div><%= link_to 'Best Friends Animal Society', "http://bestfriends.org/" %></div>
<div><%= link_to 'New York Bully Crew', "http://www.nybullycrew.org/" %></div>
<div><%= link_to 'Detroit Dog Rescue', "http://detroitdogrescue.com/" %></div>
<div><%= link_to 'Buy cool clothes from Mercy For Animals', "http://store.mercyforanimals.org/products.php?categoryId=1" %></div>
