<h3>For TRULY healthy choices, try these INCREDIBLE recipes:</h3>

<div><%= link_to 'Gluten Free Banana Bread', "http://www.glutenfreeconfessions.com/2011/03/30/banana-bread-i/" %></div>
<div><%= link_to 'Vegan Cheese', "http://nutritionstripped.com/classic-cashew-cheese-3-ways/" %></div>
<div><%= link_to 'Guilt-Free Paleo Cookies', "http://taylormadeitpaleo.com/2013/06/05/welcome-to-chunky-town-chocolate-chip-cookies/" %></div>
<div><%= link_to 'Vegetarian Miso Soup', "http://vegetarian.about.com/od/soupssalads/r/MisoSoup.htm" %></div>
<div><%= link_to 'Fudgy Brownies', "https://healthyjulie.com/brownies/" %></div>