
<div>
	<% @addresses.each do |address| %>
		<p><%= address.street_number %> <%= address.street_name %></p>
		<p><%= address.city %> <%= address.state %> <%= address.zip %></p>
		<p><%= number_to_phone(address.phone, area_code: true) %></p>
		<p><%= address.website %></p>
	<% end %>
</div>