<aside>
  <ul class="flex-container">
    <li class="flex-item thumbnail">
      <h3>Recent Posts</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
    <li class="flex-item thumbnail">
      <h3>Follow Me</h3>
      <%= render 'shared/social_media_icons' %>
    </li>
    <li class="flex-item thumbnail">
      <h3>Instagram</h3>
    </li>
    <li class="flex-item thumbnail">
      <h3>Facebook</h3>
    </li>
  </aside>

  <main>
    <% if @posts.any? %>
    <ul class="flex-container">
      <% @posts.each do |p| %> 
      <li class="flex-item thumbnail">
        <h1><%= link_to p.title, blog_path(p) %></h1>
        <p><%= link_to 'Get the Details', blog_path(p) %></p> 
      </li>  
      <% end %>
    </ul>
    <% else %>
    <p>No search results match <%= params[:search] %>.</p>
    <% end %>
    <div>There are <%= pluralize(@posts.size, 'post') %></div>

  </main>