<%= form_for(@establishment) do |f| %>
<%= render "shared/errors", object: @establishment %>
<fieldset>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <% if current_user.admin? %>
  <div class="add-border">
    <p>Choose all Cuisines that apply</p>
    <div class="form-group checkbox-style">
      <%= f.collection_check_boxes :cuisine_ids, Cuisine.all, :id, :name, {}, {class: "checkbox"}  %>
    </div>
  </div>

  <div class="add-border">
    <p>Number of Stars</p>
    <div class="form-group">
      <%= f.label :stars %>
      <% Establishment::STARS.each do |star| %>
      <span class="star">
        <%= f.radio_button :stars, star %> <%= star %>
      </span>
      <% end %>
    </div>
  </div>

  <div class="add-border">
    <p>Choose all Qualifications that apply</p>
    <div class="form-group checkbox-style">
      <%= f.collection_check_boxes :qualification_ids, Qualification.all, :id, :name, {}, {class: "checkbox"}  %>
    </div>
  </div>

  <div class="add-border">
    <p>Choose all Distributor that apply</p>
    <div class="form-group checkbox-style">
      <%= f.collection_check_boxes :distributor_ids, Distributor.all, :id, :name, {}, {class: "checkbox"}  %>
    </div>
  </div>

  <div class="add-border">
    <p>Edit the Summary</p>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <% if @establishment.new_record? %>
    <%= f.submit "Add Establishment", class: "btn btn-primary btn-sm" %>
    <% else %>
    <%= f.submit "Update Establishment", class: "btn btn-primary btn-sm"  %>
    <% end %>
  </div>
</fieldset>
<% end %>