<p>There are <%= pluralize(@establishments.size, 'establishment') %></p>
 <nav>
   <%= link_to 'Add a New Establishment', new_establishment_path %>
 </nav>
<div class="container"> 
  <div class="row"> 
    <% @establishments.each do |establishment| %> 
        <div class="col-md-3">
          <div> Name <%= link_to establishment.name, establishment %></div>
        
          <div>Address <%= establishment.address_id %></div>

          <div>Owner <%= establishment.owner_id %></div>
        
          <div>Distributor <%= establishment.distributor_id %></div>
        
          <div>Cuisine<%= establishment.cuisine %></div>
        
          <div>Details <%= link_to 'Establishment Details', establishment %></div> 
        </div>
    <% end %>
  </div>
</div>