<% if current_user %>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Healthy For Real", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Establishments", establishments_path %></li>
        <li class="active"><%= link_to "Distributors", distributors_path %></li>
      </ul>
        
      <div class="navbar-form navbar-left" role="search">
        <%= form_tag(establishments_path, method: "get") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %></div>
          <%= submit_tag "Search", :name => nil, class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
      
      <form class="navbar-form navbar-right" role="search">
        Logged in as <%= link_to current_user.name, current_user %>
        <button class="btn btn-default btn-sm"><%= link_to "Account Settings", edit_user_path(current_user) %></button>
        <button class="btn btn-default btn-sm"><%= link_to "Sign Out", session_path, method: :delete %></button>
      </form>
    </div>
  </div>
</nav>

<% else %>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% unless current_page?(root_path) %>
        <form class="navbar-form navbar-left">
          <button class="btn btn-default btn-sm"><%= link_to "Search", root_path %></button>
        </form>
        <% end %>
        <form class="navbar-form navbar-right">
          <button class="btn btn-default btn-sm"><%= link_to "Sign Up", signup_path %></button>
          <button class="btn btn-default btn-sm"><%= link_to "Sign In", signin_path %></button>
          
        </form>
      </div>
    </div>
  </nav>
<% end %>