<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Under the Plate</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	   
	<%= render 'layouts/nav' %>
  <%= render 'layouts/flash' %>

	<div class="container"><%= yield %></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>

  <%= render 'shared/footer' %>

  </html>